---
import BaseLayout from "@/layouts/BaseLayout.astro";

import SeoPage from "@/components/SeoPage.astro";

const about = await import("@/content/about/index.md");
const Content = about.Content;
---

<BaseLayout>
  <SeoPage slot="head" title="About" />
  <div class="relative">
    <h1
      class="text-[36px] leading-snug font-bold text-balance text-black dark:text-white"
    >
      About
    </h1>
    <hr
      class="border-muted-text dark:border-dark-muted-text my-12 border-[0.5px] opacity-10 dark:opacity-15"
    />
    <div class="prose mx-auto">
      <Content />
    </div>
    <div class="shimmer-tree" aria-hidden="true">⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⠢⡐⣡⠚⡔⢣⡓⡜⢢⢃⠖⡠⠂⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠠⣀⢆⡱⢄⡳⡸⣔⢫⣜⣣⡝⣜⡣⢏⡼⣡⡙⣤⢃⡔⡠⢀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⠰⣈⠶⣱⢎⡷⣫⢷⡹⣎⠷⣎⢷⡺⣵⢫⡟⣶⢣⡟⣶⢫⡼⣱⢊⡔⠡⢀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠰⠰⣤⢳⣬⢳⡭⣞⡵⣫⢞⡵⣫⢟⡼⣣⢟⡼⣣⢟⡼⣣⢟⡼⣣⢟⡶⣭⢎⡳⣌⢢⡐⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡀⢀⡀⢠⠀⡄⢠⠀⡄⢠⢀⡀⡀⢀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡀⢆⢭⠳⣬⢳⣎⢷⡹⣎⢷⡹⣎⢷⡹⣎⢷⡹⣎⢷⡹⣎⢷⡹⣎⢷⡹⢎⡳⢎⡽⡱⢎⡱⣌⠒⡠⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠠⢌⢢⡑⢮⡜⣣⢻⡜⣧⢻⡜⣧⣚⠴⣱⢊⠴⣁⠂⡀⠀⠀⠀⠀⠀⠀⠀⢀⠢⣘⡜⢮⡻⣜⡳⢮⡳⣝⢮⡳⣝⢮⡳⣝⢮⡳⣝⢮⠳⡝⢮⠳⡝⢎⠧⣋⠧⡙⢎⠲⡙⠎⡵⢊⠵⣁⠣⠐⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡀⢆⡜⣢⠳⣜⢦⡝⣶⣹⢣⡟⣼⢣⡟⣼⣓⢮⣛⢦⣏⢶⣡⠞⡴⣡⠆⡠⠀⠀⠀⠀⢆⡳⡜⣼⢳⡝⣮⣝⡳⣝⢮⡳⣝⢮⡳⣝⢮⣳⠹⡜⡌⢣⠉⢂⠑⠈⠀⠂⠀⠂⠈⠀⠂⠀⠁⠐⠈⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠰⣠⠓⡼⣘⢧⡟⣮⢳⡝⡶⣭⢳⡝⣮⢳⡽⣲⡝⣮⡝⡾⣜⢧⣏⢿⡱⢧⡚⣅⢎⡐⠠⢀⠜⣢⡝⣾⡱⣏⢾⡱⢮⡝⣮⢳⡝⣮⢳⡝⣎⠳⡌⠓⠌⡐⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡜⣠⢓⣦⢻⡵⣫⢞⡽⣎⢷⣹⢳⣭⢳⡝⣮⢳⡝⣧⣛⢶⣹⢳⡝⡾⣜⢧⣛⢧⡻⣜⡦⣭⢓⡌⡞⡴⣛⢶⡹⣎⢷⡹⢧⡻⡜⣧⢛⣬⠳⣜⢢⠑⡈⠐⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡄⢣⡜⣥⢯⡜⣧⢻⡵⣫⢞⡽⣎⢷⣫⢞⣧⢻⡜⣧⣛⢶⡹⣎⢷⣫⢞⡵⣫⢞⡽⣎⢷⡹⡞⣥⠯⣜⡵⣹⡹⢎⡳⡝⢮⡙⢧⢳⡙⢦⣋⠶⣙⢦⣃⠳⣌⠱⣨⠐⣄⠢⡀⠄⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⠣⡜⢣⢞⡱⣋⢞⡱⢫⢜⢣⠛⡼⢩⠎⡵⢫⢜⣣⢛⠶⣹⢎⡷⣹⢎⡗⣫⢞⡵⢫⢞⡜⢧⣫⢝⠮⣝⠞⣼⡱⢭⢫⠵⣙⢦⡛⣬⢣⠝⣦⡙⢮⡱⢎⡜⣣⢎⡳⢥⡛⣤⢣⠱⣌⠰⣀⠂⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⢌⢢⠳⣭⠓⣎⠱⡡⠎⡐⠃⠌⢂⠉⡐⢁⠊⠰⠁⢎⠰⣉⠞⡱⢎⡳⢵⢪⡝⢦⢫⡜⣭⢚⡜⣣⠞⣬⢛⡬⣛⠴⣙⢎⠧⣛⡜⢦⡙⢦⡙⡞⡴⣙⢦⡙⢮⡜⡱⢎⡵⢪⡕⢦⢣⠳⣌⠳⡤⢓⡌⢆⠡⢀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠈⠄⢂⠱⠀⡉⠄⠁⠐⠀⠀⠁⠀⠀⠀⠀⠀⠈⠠⢁⠊⠴⡡⢞⡱⢫⡕⣫⢖⡹⢪⡕⡺⢔⡫⣜⡱⣚⠴⣋⠴⣩⠞⣡⢎⡳⣱⢊⢧⡙⢦⡹⢜⡲⢍⠶⣙⠦⣍⢳⡩⢖⡣⢞⡡⢏⡳⣌⢳⡙⡬⡜⣌⢣⢂⡔⠠⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠁⠂⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠐⡠⢉⠲⣩⠖⣍⠳⡜⡥⢎⡵⢣⠞⣱⢋⡴⢣⠞⣡⢛⡬⠳⡥⣛⠴⣋⠴⣃⢏⡲⡙⢦⡙⡎⡵⢋⢮⡱⣍⢮⡑⢧⡹⢜⡣⣝⢪⡕⠮⣥⠛⡴⣹⡘⢦⢣⢎⡱⢈⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠢⢌⢢⡕⣩⢓⢦⢛⡬⣓⢭⢚⡕⡎⢧⢛⡴⢋⡜⣣⠝⣦⢫⢜⣣⠳⣌⠳⣌⠳⡌⢦⠱⣉⠦⡱⣉⠶⣩⢖⡱⢎⡖⡹⢦⡙⢦⠳⣌⢧⢚⡵⢊⡝⡲⢥⡙⢮⡱⢎⡲⢡⢎⡐⢀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠰⡈⢖⡩⢲⡜⡥⣋⢎⡞⢴⡩⢞⡸⡜⣜⢣⡍⢶⡩⢞⡡⢏⢦⠓⣎⠴⣩⠒⡍⢆⠳⡘⢄⠣⠐⠠⠁⠂⡑⠄⢊⠔⠣⡜⣡⠧⣙⢎⡳⢜⡪⡕⣎⠳⣜⡱⢣⡝⢦⡙⣎⠵⢣⢎⠴⡁⢀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡰⢈⠖⣩⠞⣸⠱⣜⠲⣍⠞⣬⢓⡜⣣⠳⡜⣬⢣⠞⡱⢎⡣⢝⡊⢖⡹⢄⠳⢄⡋⠜⣈⠆⡑⠂⠄⠀⠀⠀⠀⠀⠀⠀⢈⠐⠰⢁⠎⡱⢊⡕⢫⠴⡹⣌⠳⣌⢳⠣⢞⡡⢏⡜⣎⠳⢎⡲⢡⠂⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠢⣡⢋⡜⣆⠻⣔⢫⠖⡹⣌⠞⡴⣋⠼⣡⠳⣍⢖⡣⢏⡵⢣⡑⢎⡘⠄⠂⠌⠒⡌⠰⣉⠰⡈⠔⡉⡐⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠂⠈⠀⠡⠌⢃⠎⡵⢊⠷⣌⠧⣛⢬⠳⣩⠞⣬⡙⢮⣑⢣⠣⡜⢀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢌⠢⡑⣆⠯⡜⣬⠳⣌⠧⣫⠕⡮⣙⠖⣭⢚⡥⢛⡤⣋⠶⣉⠖⡡⠘⠠⠐⠈⠀⠌⡐⠌⡡⢐⠢⡑⢌⠰⠠⢁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠐⡈⠒⡩⢒⡍⢎⡵⢊⠷⣑⠞⡴⣙⢦⡙⢦⠛⡔⢂⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡈⢆⡳⢍⡲⡹⢜⣢⢛⡴⢫⡔⣫⠖⣭⢚⡴⢋⡜⣣⠞⣡⠞⡄⠣⠀⠁⠀⠀⠀⠀⠐⣀⠣⡐⡡⢆⠱⡨⢅⡃⠆⠌⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⠡⡘⢌⠲⣍⠞⡥⣛⠴⣩⠖⣹⠪⣝⡸⢀⠂⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠤⡑⢪⡜⢣⡓⣭⢚⡴⢋⡴⢣⢞⡡⢞⡴⢋⡴⢫⡜⢦⡙⠤⠒⠀⠁⠀⠀⠀⠀⠀⠀⠐⡠⢣⠱⣑⠪⣅⠳⣌⠲⣉⠒⡠⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠐⠈⠱⣈⠎⡕⡎⢧⢣⡛⡴⢋⠶⣡⠃⡌⢀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡘⢤⡙⢦⣙⢣⡝⡴⢋⡴⢫⡜⣣⢎⠵⣋⠴⣫⠜⣣⠜⢢⠉⠂⠁⠀⠀⠀⠀⠀⠀⠀⠀⠠⢁⠧⡙⢦⡙⢤⠓⣌⠓⡌⠱⡀⠂⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠁⠄⠚⠰⡙⢬⠓⡼⣑⢏⡞⡡⢎⡐⠠⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⡑⢦⡙⢦⡍⢶⡸⣑⠯⣘⠧⣜⡱⢎⡣⡝⢎⡕⢮⡑⢊⠄⠂⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠌⡒⡉⠆⡜⢢⢉⠤⢃⠌⡱⠀⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠡⢘⢢⡙⠖⣭⠲⣜⡱⢢⠘⠄⡁⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠰⣉⠶⣙⢦⡙⢦⡓⣭⢚⡥⣋⠖⡭⢎⡵⡙⢮⡘⠤⠘⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⠑⠌⡒⢌⠢⢌⠢⡁⠎⢄⠡⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠂⢌⠹⣄⡛⣤⠓⡥⢊⠔⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠱⣈⠷⣘⢦⡙⢦⡹⣔⢣⠞⣡⢛⡬⠳⣌⠝⡢⠑⠂⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⢉⡐⠌⡰⢈⠆⢢⠑⡌⢂⠆⡁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠒⠤⢓⢬⡙⠴⣁⠊⠄⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢈⠱⢌⡳⣩⠖⡹⢆⡳⣌⠧⣛⠴⣋⡜⡳⢌⠊⠔⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠐⡀⠆⡱⢀⢣⡘⠤⣃⠜⣢⠒⣀⠂⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠠⢉⠦⣙⠒⠤⡁⠂⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠄⡊⢖⡱⢣⡹⣱⢋⡖⣍⠞⣬⢓⡱⢊⡕⠊⠌⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠐⡈⢆⡡⢋⠴⣈⠳⣄⠫⡔⣡⢂⠐⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢎⠰⢉⠒⡀⠁⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢂⠑⡎⡵⢣⡓⣥⢚⡼⢬⡙⢦⣋⠜⣡⠊⠡⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢂⠑⢢⠱⣉⠞⣌⠳⣌⠳⡘⡔⢂⠡⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠂⠁⢂⠐⠠⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡀⠣⡜⣱⢣⢝⡢⢏⡴⢣⡝⢦⡓⡜⠠⠈⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⠘⢠⠃⡜⢌⠢⠓⠤⢣⠱⡈⠆⠠⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⠑⡬⢓⡎⢮⡱⢫⡔⣣⠞⣢⠱⡈⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡁⠂⡜⠰⡈⠥⡙⢌⠢⡑⠤⢁⠂⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠱⡘⢧⡚⣥⠓⣧⢚⡥⢚⠄⡃⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠄⢡⢀⠣⢘⡐⠌⡄⢃⠌⡰⢀⠂⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢡⠙⣦⡙⢦⡛⣤⠳⣌⠣⠈⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢈⠐⠢⢌⠢⢡⡘⠰⡈⠆⡜⢠⠂⠌⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⡙⢤⡙⢦⡙⢦⠹⡄⢃⠐⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠄⣉⠖⡨⢜⡡⢌⢣⠱⣩⠰⡁⢎⠐⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠐⡈⢆⡙⢦⡹⢌⡓⠌⠂⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡘⡔⢪⡑⠮⡔⣋⠦⢳⡐⢧⡉⠆⡌⠠⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠐⠂⡍⢆⡳⢌⠰⠁⠈⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠰⢌⠣⠜⡱⡘⢤⢋⠦⡙⢆⣉⠒⠠⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠡⠘⢬⠱⣈⠐⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⠁⢎⠰⡉⠔⡉⢆⠣⡘⢡⠎⠤⠉⠄⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠁⢎⡱⠀⠂⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⢁⠊⡔⠡⢊⠑⡌⢂⡑⠢⡘⠠⠁⠌⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠀⠄⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠌⡐⢌⠒⡌⠱⣈⠒⢌⠰⡈⢅⠢⠑⡈⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢌⠢⡑⣌⠲⢌⡱⢠⡉⢆⡱⢈⢆⡡⢃⠄⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⢌⠲⡱⢌⡚⣤⢃⢧⡘⢦⠱⣉⠖⡸⢄⠊⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡐⠌⢣⡑⢎⡱⢢⠍⢦⡙⢆⠏⣜⡸⡑⢎⡐⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⠐⡨⢡⠘⠢⢅⠣⢎⡱⡘⡌⠞⡤⢣⠙⡤⠐⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⢁⠂⡅⢢⠉⡜⢠⠃⢆⠰⢡⠘⡌⠰⣁⠣⠐⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠡⢊⠔⡨⢄⠣⡐⢡⠘⡠⢃⠂⠥⡈⠥⢐⠨⠐⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⠌⡒⡍⢦⠑⣌⠢⡑⢢⠑⡐⢂⠩⡐⢄⠣⡈⠔⡁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠌⡰⠑⡜⣘⠦⡙⡤⢣⡑⢣⠎⡥⢋⠴⣑⠪⡔⢡⠊⠄⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡘⢄⠫⡜⣡⠞⣡⠳⣡⢋⡵⢊⡵⢩⢲⢡⡓⢬⡁⠎⡐⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠐⡈⢆⠱⢎⡜⣡⠳⡡⢇⠮⡱⡌⢇⣣⠣⢞⡰⢈⠔⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⠈⢂⠰⢁⠒⡑⢊⠲⡑⣌⠣⢆⡙⢢⠐⡁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠄⡈⠔⢡⢂⠱⡠⢓⠢⡘⠤⢁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀</div>
  </div>
</BaseLayout>

<script>
  document.addEventListener('astro:page-load', () => {
    const tree = document.querySelector('.shimmer-tree');
    if (!tree) return;
    const text = tree.textContent || '';
    tree.textContent = '';
    let i = 0;
    for (const char of text) {
      const span = document.createElement('span');
      span.textContent = char;
      if (char !== '\n' && char !== '⠀') {
        span.style.animationDelay = `${i * 8}ms`;
        i++;
      }
      tree.appendChild(span);
    }
  });
</script>
