---
import BaseLayout from "@/layouts/BaseLayout.astro";

import SeoPage from "@/components/SeoPage.astro";

const about = await import("@/content/about/index.md");
const Content = about.Content;
---

<BaseLayout>
  <SeoPage slot="head" title="About" />
  <div>
    <h1
      class="text-[36px] leading-snug font-bold text-balance text-black dark:text-white"
    >
      About
    </h1>
    <hr
      class="border-muted-text dark:border-dark-muted-text my-12 border-[0.5px] opacity-10 dark:opacity-15"
    />
    <div class="prose mx-auto">
      <Content />
    </div>
  </div>
</BaseLayout>
